@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #ececec;
    background: #111;
}
section {
    @apply my-20
}
.btn {
    @apply text-center px-8 py-3 bg-blue-600 rounded-full text-lg font-medium text-[#ececec] transition-all border border-transparent 
}

button.btn:active {
    @apply scale-95 shadow-none
}

button.btn:hover {
    @apply text-blue-500 bg-transparent border-blue-600
}

h1,h2 {
    @apply text-gray-200
}

.container {
    @apply mx-auto max-lg:px-20 max-sm:px-4 px-8
}

body::-webkit-scrollbar {
    width: .4em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(95, 95, 95, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #bbb;
  outline: 1px solid slategrey;
  border-radius: 80px;
}